
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/all.min.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.bundle.js"></script>
    <title>Employee Login</title>
    <style>
        .login {
            margin: 200px 0px;
            border-radius: 20px;
            background: white;
            height:350px;
        }
        .textcolor1 {
            color: #6610f2;
        }

        .textcolor2 {
            color: #6f42c1;
        }

        .mycolor1 {
            background: #6f42c1;
            color: white
        }
    </style>
</head>
<body>
    
    <div class="container-fluid">
        <div class="row bg-danger" style="min-height:400px;">
            <div>
                <a href="/Home/Index" class="btn mycolor1">Are You an Admin? Click Here</a>
            </div>
            <div class="col-sm-3 mx-auto login p-0">
                <div class="h3 text-light text-center bg-secondary p-1">Employee Login</div>
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger text-center">@TempData["Error"]</div>
                }
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div>
                        <div class="input-group mt-5 px-5 flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping"><i class="fa fa-circle-user"></i></span>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" name="EmployeeUserNameAttribute">
                        </div>
                        <div class="input-group my-4 px-5 flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping" name="EmployeePasswordAttribute">
                        </div>
                    </div>
                    <div></div>
                    <div class=" px-4">
                        <span><input type="checkbox" /> Remember Me</span>
                        <a href="/Employee/ForgotPassword">Forgot Password?</a>
                        <br />
                        <br />
                    </div>
                    <div class="px-5"> <button type="submit" class="btn btn-success w-100">Login Now</button></div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
