
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_EmployeeLayoutPage.cshtml";
}

<h2>My Profile</h2>

<div class="container">
    <div class="row py-2">
        <p class="fs-4 text-center"> Welcome, <b class="text-danger">ABC</b> </p>
        <div class="col-sm-6 mx-auto">
            <div class="card shadow-lg border border-0 position-relative px-4 pb-4" style="min-height:300px; margin-top:50px;">
                <img src="~/Content/images/employeeimage.jpg" class="image-fluid empimg position-absolute start-50 translate-middle border border-3 border-light shadow"/>
                <h5 class="text-center" style="margin-top:70px;">ABC</h5>
                <p class="text-center m-0">ABC@employee.in</p>
                <p class="fw-bold m-0 text-danger">Basic Information :</p>
                <p class="m-0"><b>Mobile No. : </b>9876543210 </p>
                <p class="m-0"><b>Official EmailID : </b>abc@gamil.com </p>
                <p class="m-0"><b>DOB : </b>06 Sep 2025 </p>
                <p class="m-0"><b>Address : </b> Sec-5 Vikas Nagar, Tedhi Pulia Ring Road, Lucknow - 226022</p>
                <p><b>Adhaar No. : </b> 1234 5678 9543 7654</p>
                <p class="text-danger m-0"><b>Job Details : </b> </p>
                <p class="m-0"><b>Employee ID : </b> EMP123 </p>
                <p class="m-0"><b>Employee Role : </b> Developer </p>
                <p class="m-0"><b>Designation : </b> Backend Engineer </p>
                <p><b>Date of Joining : </b> 05 Sep 2025 </p>
                <p class=" text-danger m-0"><b>Account Detials : </b>  </p>
                <p class="m-0"><b>PAN Number : </b>ART34735U</p>
                <p class="m-0"><b>Account Number : </b>10400034567</p>
                <p class="m-0"><b>Bank Name : </b>PNB</p>
                <p class="m-0"><b>IFSC Code : </b>PNB0000104</p>
                <p class="m-0"><b>Salary : </b>Rs. 8364792</p>


            </div>
        </div>
    </div>
</div>

