
@{
    ViewBag.Title = "VerifyOTP";
    Layout = "~/Views/Shared/_EmployeeLayoutPage.cshtml";
}

<h2>VerifyOTP</h2>

<div class="container-fluid">
    <div class="row d-grid justify-content-center">
        <div class="col-sm1-12 shadow-lg p-4 m-5 rounded-4">
            <form method="post">
                <label for="VerifyOtpId" class="fw-bolder">Enter the OTP</label>
                <input class="form-control" type="text" name="VerifyOtpAttribute" id="VerifyOtpId" />
                <br />
                <input type="submit" class="btn mycolor1" value="Verify OTP" />
            </form>
        </div>
    </div>
</div>