
@{
    ViewBag.Title = "ChangePasswordAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password Admin</h2>

<div class="container">
    <div class="row py-2 ">
        <div class="col-sm-10 mx-auto">
            <form method="post">
                <div class="row py-4">
                    <div class="col-sm-4 mx-auto">
                        <div class=" shadow-lg mx-auto border border-0 rounded-4">
                            <p class="text-center m-0 fs-4"> Change <b class="textcolor2">Password</b></p>
                            <div class="form-floating m-3">
                                <input type="text" class="form-control" name="OldPasswordAttribute" id="OldPasswordId" >
                                <label for="OldPasswordId">Enter your Old Password</label>
                            </div>
                            <div class="form-floating m-3">
                                <input type="text" class="form-control" name="NewPasswordAttribute" id="NewPasswordId" >
                                <label for="NewPasswordId">Enter your New Password</label>
                            </div>
                            <div class="form-floating m-3">
                                <input type="text" class="form-control" name="ConfirmPasswordAttribute" id="ConfirmPasswordId" >
                                <label for="ConfirmPasswordId">Confirm Password</label>
                                <p id="#PasswordStatus"></p>
                            </div>
                            <button class="btn mycolor1 mx-3 mb-3" type="submit" id="UpdateButtonId">Update Password</button>
                            <button class="btn btn-outline-secondary mx-3 mb-3" type="reset">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#ConfirmPasswordId").keyup(function () {
            var OldPassword = $("#OldPasswordId").val()
            var NewPassword = $("#NewPasswordId").val()
            var ConfirmPassword = $("#ConfirmPasswordId").val()
            if (NewPassword != ConfirmPassword ) {
                $("#UpdateButtonId").prop("disabled", true)
                $("#PasswordStatus").val("New Password does not match. Kindly enter correct password in both boxes.")
            }
            else if (OldPassword == NewPassword) {
                $("#UpdateButtonId").prop("disabled", true)
                $("#PasswordStatus").val("Old and New Passwords are same.")
            }
            else {
                $("#UpdateButtonId").prop("disabled", false)
                $("#PasswordStatus").val("Correct Password")
            }
        })
        
    })
</script>